[submodule "a11/a11backendrailway"]
	path = a11/a11backendrailway
	url = https://github.com/Funesterie/a11backendrailway.git
	ignore = dirty
[submodule "a11/a11frontendnetlify"]
	path = a11/a11frontendnetlify
	url = https://github.com/Funesterie/a11frontendnetlify.git
	ignore = dirty
[submodule "a11/a11llm"]
	path = a11/a11llm
	url = https://github.com/jEFFLEZ/a11llm.git
	ignore = dirty
[submodule "a11/a11qflushrailway"]
	path = a11/a11qflushrailway
	url = https://github.com/Funesterie/a11qflushrailway.git
	ignore = dirty
